html {
  scroll-behavior: smooth;
}

:root{
    --white: #FFF;
  --gray-100: #E1E1E6;
  --gray-300: #C4C4CC;
  --gray-400: #8D8D99;
  --gray-500: #7C7C8A;
  --gray-600: #323238;
  --gray-700: #29292E;
  --gray-800: #202024;
  --gray-900: #121214;
  --blue-300: #5D47C7;
  --blue-500: #462DBF;
  --blue-700: #2C0BCB;
  --red-500: #AB222E;
  --red-700: #7A1921;
  --yellow-500: #FBA94C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:focus {
    outline: 0;
    box-shadow: 0 0 0 2px var(--blue-500);
  }
  body {
     background: var(--gray-900);
     color: var(--gray-100);
     -webkit-font-smoothing: antialiased;
 }
  body, input, textarea {
     font-family: 'Archivo', sans-serif;
     font-weight: 400;
     font-size: 1rem;
  } 

  body::-webkit-scrollbar {
    width: 7px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    /*background: #1c1c20;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--blue-500);    /* color of the scroll thumb */
    border: 2px solid var(--gray-600);  /* creates padding around scroll thumb */
  }
