
/*Aplicação Web
Desde uma simples landpage, sites pessoais ou comercial, até lojas virtuais e sistemas complexos para internet.

Aplicação Desktop
Aplicações multiplataformas exclusivas, para sistemas operacionais Windows, Linux e Mac OS, onde o usuário necessita instalar o software em sua máquina.

Aplicação Web
Desde uma simples landpage, sites pessoais ou comercial, até lojas virtuais e sistemas complexos para internet.*/

section{
    height: calc( 100vh - 80px);
    min-height: 90vh;
    margin: 0;  
    padding-bottom: 200px;
    
    padding-bottom: 200px;

}

section {
   /* margin: 3.125rem 0;*/
}

main {
    max-width: 1200px;
    margin: 0 auto;
    max-width: 62%;
    /*padding: 3.125rem;*/
}
.title-top{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
 article{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20%;
    z-index: 1;
}


#inicio article .content{
    max-width: 62%;
}

#inicio article h1 {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    align-items: center;
    font-weight: 600;
    animation: gradient 5s ease infinite;
    background:linear-gradient(132.01deg, rgba(131, 116, 204, 0.78) 29.26%, rgba(103, 71, 255, 0.78) 60.59%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
}

#inicio article .imgContent img {
    width: 230px;
    opacity: 0.9;
}

h2 {
    font-size: 1.25rem;
    line-height: 1.5;
    color: var(--gray-400);
    font-weight: 400;
    margin-bottom: 1rem;
}

.links-redes-spcia {
    display: flex;
    gap: 1rem;
}

.links-redes-spcia a{
    text-decoration: none;
    font-size: 2rem;
    color: var(--gray-100);
    background: var(--blue-500);
    padding: 7px 6px 2px 6px;
    border-radius: 8px;
    filter: brightness(0.9);
    transition: background-color 1s;
}

.links-redes-spcia a:hover{
    background: var(--blue-700);
}

footer {    
    border-top: 1px solid var(--gray-800);
    padding: 1.25rem;
    text-align: center;
    font-size: 0.875rem;
}

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--gray-700);
        padding: 1.25rem;
        position: fixed;
        width: 100%;
        z-index: 999;
    }
    header div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 64%;
    }

    .logo img {
        width: 100px;
    }

    nav ul {
        display: flex;
        list-style: none;
        align-items: center;
    }

    nav ul li {
        margin: 0 0.937rem;
    }

    nav ul li a {
        text-decoration: none;
        color: var(--gray-400);
        font-size: 18px;
    }
    .contatos {
        background: red;
        padding: 0.625rem 1.062rem;
        border-radius: 17px;
        border: 1px solid var(--gray-400);
        background: var(--gray-600)
    }
    .contatos:hover {
        border: 1px solid var(--blue-700);
        color: var(--blue-700);
    }

    #sobre {
        padding-top: 200px;
    }

    #sobre article {
        display: flex;
        background: var(--gray-800);
        border-radius: 8px;
        padding: 3rem; 
        align-items: center;
        gap: 3rem;
    }

    #sobre article .containeImg img{
        width: 16.25rem;
    }

    #sobre article .containeTexto{
        display: flex;
        flex-direction: column;
    }

    #sobre article .containeTexto h1{
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
    #sobre article .containeTexto h1 span{
        color: var(--blue-800);
    }

    #sobre article .containeTexto p{
        font-size: 1rem;
        line-height: 1.5rem;
    }

    #servicos article{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #servicos article h1 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
    #servicos article .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    #servicos article .container .content {
        width: 30%;
        background: var(--gray-800);
        text-align: left;
        padding: 2.5rem 2rem;
        border-radius: 8px;
        box-shadow: 0px 26px 58px rgba(0, 0, 0, 0.25);
        border: 1px solid var(--blue-500);

    }
    #servicos .content i{
        font-size: 2.5rem;
        color: var(--blue-500);
    }
    #servicos .content h2{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    #servicos .content p{
        line-height: 1.5rem;
        color: var(--blue-300);        
    }

    #experiencias {
        margin-top: 3.125rem;
        padding-top: 200px;
    }

    #experiencias h1{
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
    
    #experiencias .container article{
        border-bottom: 1px solid var(--gray-800);
        padding-top: 1rem;
        padding: 2.5rem 2rem;
        color: var(--blue-500);
        transition: background 1s;
    }

    #experiencias .container article:first-child {
        border-top: 1px solid var(--gray-800);
    }
    #experiencias .container .empresa{
        display: flex;
        flex-direction: row;
        gap: 8px;
    }

    #experiencias .container .empresa span{
        background: var(--blue-500);
        display: block;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        margin: auto;
    }

    #experiencias .container article:hover {
        background: var(--blue-500);
        color: var(--gray-100)
    }
    #experiencias .container article:hover .empresa span{
        background: var(--gray-100);
    }

    #projetos {
        padding-top: 200px;
        margin-bottom: 200px;
    }
    
    #projetos .container{
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    
    #projetos .container article{
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 300px;
        background: var(--gray-800);
        border-radius: 8px;
        padding: 25px 25px 0px 25px;
    }
    
    #projetos .container article .titleProject{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    #projetos .container article .titleProject h1{
        font-size: 1.5rem;
        color: var(--gray-300);
    }
    #projetos .container article .titleProject h2{
        font-size: 1rem;
        color: var(--gray-400);
    }

    #projetos .container article .titleProject button{
        padding: 0.5rem 0.75rem;
        border: none;
        border-radius: 16px;
    }

    #projetos .container article main {
        background: red;
        width: 100%;
        height:100%;
        border-radius: 8px 8px 0px 0px;
        max-width: 100%;
    }

    #projetos .container article main footer{
        
    }
    
    #contatos {
        padding-top: 200px;
    }
    #contatos .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #contatos .container p {
        text-align: center;
        font-size: 2.25rem;
        padding-bottom: 2rem;
    }
    #contatos .container button { 
        font-family: 'Archivo', sans-serif;       
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--gray-100);
        background: var(--blue-500);
        padding: 1rem 2rem;
        border-radius: 32px;
        border: none;
        margin-bottom: 5rem;
        transition: 1s;
    }

    #contatos .container button:hover {
        background: var(--blue-700)
    }

    #contatos .container .links-redes-spcia a {
        background: transparent;
        border: 2px solid #ffffff00;
    }
    #contatos .container .links-redes-spcia a:hover {
        border-color: var(--blue-500);
    }

    #contatos .container .links-redes-spcia a i {
        color: var(--blue-500)
    }

    @media only screen and (max-width: 1048px) {
        header div {
            width: 100%;
        }

        main{
            max-width: 100%;
            padding-left: 1.25rem;
            padding-right: 1.25rem;
        }

        article {
             flex-direction: column-reverse;
        }

        article .content {
            flex-direction: column-reverse;
            max-width: 100%!important;
            width: 100%;
        }

        article .content h1{
            margin-top: 1rem;
        }

        article .content h1,article .content h2{
            text-align: center;
        }
        article .content .links-redes-spcia{
            justify-content: center;
        }

        #inicio article .imgContent img {
            width: 70px;
        }

        #sobre article {
            flex-direction: column;
            gap: 1rem;
        }

        #sobre article .containeImg img {
            width: 10rem;
        }

        #sobre {
            padding-top: 161px;
        }
        #sobre article .containeTexto h1, #sobre article .containeTexto p {
            text-align: center;
        }

        #servicos .content div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #servicos .content p {
            text-align: center;
        }

        #experiencias {
            padding-top: 157px;
        }

        #experiencias .container article{
            flex-direction: row;
        }
        
    } 
@media only screen and (max-width: 767px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--gray-800);
        padding: 0.625rem ;
    }

    .logo img {
        width: 5rem;
    }

    nav {
        display: none;
        position: fixed;
        top: 3.125rem;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--gray-800);
        z-index: 9999;
        overflow-y: scroll;
    }

    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li {
        margin: 0.625rem 0;
    }

    nav ul li a {
        display: block;
        text-decoration: none;
        color: var(--gray-400);
        padding: 0.625rem;
    }

    .toggle {
        position: fixed;
        top: 0.625rem;
        right: 0.625rem;
        width: 1.875rem;
        height: 1.875rem;
        background-color: #333;
        z-index: 99999;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .toggle:before {
        content: '\f0c9';
        font-family: FontAwesome;
        font-size: 1.25rem;
        color: #f2f2f2;
    }

    .show {
        display: block;
    }

    /*#inicio{
        height: 100vh;
        
    } */ 
    
    #inicio article h1 {
        font-size: 2.5rem;
    }
    #inicio article h2 {
            font-size: 1rem;
    }

    #sobre {
        padding-top: 0px;
    }

    #servicos article {
        padding-top: 0px;
    }

    #experiencias {
        padding-top: 0px;
        margin-top: 0px;
    }

    #projetos {
        padding-top: 0px;
    }

    #projetos {
        margin-bottom: 0px;
    } 
    
    #contatos {
         padding-top: 0px; 
    }
    #contatos .container p {
        font-size: 1.75rem;
    }
}

@media only screen and (max-width: 540px) {
    #servicos article .container {
        flex-direction: column;
    }

    #projetos .container {
        flex-direction: column;
    }
}




