
/*Aplicação Web
Desde uma simples landpage, sites pessoais ou comercial, até lojas virtuais e sistemas complexos para internet.
Aplicação Desktop
Aplicações multiplataformas exclusivas, para sistemas operacionais Windows, Linux e Mac OS, onde o usuário necessita instalar o software em sua máquina.
Aplicação Web
Desde uma simples landpage, sites pessoais ou comercial, até lojas virtuais e sistemas complexos para internet.*/


main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3.125rem;
}

section {
    margin: 3.125rem 0;
}

h1 {
    font-size: 2.25rem;
    margin-bottom: 1.875rem;
}
#inicio article{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#inicio article .content{
    max-width: 62%;
}
#inicio article h1 {
    font-size: 3.5rem;
    align-items: center;
    animation: gradient 5s ease infinite;
    background:linear-gradient(132.01deg, rgba(131, 116, 204, 0.78) 29.26%, rgba(103, 71, 255, 0.78) 60.59%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
}

#inicio article .imgContent{
    //flex: 1;
}

#inicio article .imgContent img {
    width: 200px;
}

p {
    font-size: 1.125rem;
    line-height: 1.5;
    color: var(--gray-600);
}

footer {    
    border-top: 1px solid var(--gray-800);
    padding: 1.25rem;
    text-align: center;
    font-size: 0.875rem;
}



/* Estilos para telas grandes */

@media only screen and (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--gray-800);
        padding: 1.25rem;
    }

    .logo img {
        width: 100px;
    }

    nav ul {
        display: flex;
        list-style: none;
        align-items: center;
    }

    nav ul li {
        margin: 0 0.937rem;
    }

    nav ul li a {
        text-decoration: none;
        color: var(--gray-400);
    }
    .contatos {
        background: red;
        padding: 0.625rem 1.062rem;
        border-radius: 17px;
        border: 1px solid var(--gray-400);
        background: var(--gray-600)
    }
    .contatos:hover {
        border: 1px solid var(--gray-400);
        color: var(--blue-700);
        background: var(--blue-700)
    }
}

/* Estilos para telas pequenas */
@media only screen and (max-width: 767px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--gray-800);
        padding: 0.625rem;
    }

    .logo img {
        width: 5rem;
    }

    nav {
        display: none;
        position: fixed;
        top: 3.125rem;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--gray-800);
        z-index: 9999;
        overflow-y: scroll;
    }

    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li {
        margin: 0.625rem 0;
    }

    nav ul li a {
        display: block;
        text-decoration: none;
        color: var(--gray-400);
        padding: 0.625rem;
    }

    .toggle {
        position: fixed;
        top: 0.625rem;
        right: 0.625rem;
        width: 1.875rem;
        height: 1.875rem;
        background-color: #333;
        z-index: 99999;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .toggle:before {
        content: '\f0c9';
        font-family: FontAwesome;
        font-size: 1.25rem;
        color: #f2f2f2;
    }

    .show {
        display: block;
    }

    #inicio{
        height: 100vh;
        
    }

    #inicio article{
    }
    #inicio article .content{
        max-width: 100%;
    }
    #inicio article h1 {
        font-size: 1.5rem;
    }
    
    #inicio article .imgContent{
        //flex: 1;
    }
    
    #inicio article .imgContent img {
        width: 100px;
    }
    
    p {    display: none;
    }
}

