* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para telas grandes */
@media only screen and (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f2f2f2;
        padding: 20px;
    }

    .logo img {
        width: 100px;
    }

    nav ul {
        display: flex;
        list-style: none;
    }

    nav ul li {
        margin: 0 10px;
    }

    nav ul li a {
        text-decoration: none;
        color: #333;
    }
}

/* Estilos para telas pequenas */
@media only screen and (max-width: 767px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f2f2f2;
        padding: 10px;
    }

    .logo img {
        width: 80px;
    }

    nav {
        display: none;
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #333;
        z-index: 9999;
        overflow-y: scroll;
    }

    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        display: block;
        text-decoration: none;
        color: #f2f2f2;
        padding: 10px;
    }

    .toggle {
        position: fixed;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        background-color: #333;
        z-index: 99999;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .toggle:before {
        content: '\f0c9';
        font-family: FontAwesome;
        font-size: 20px;
        color: #f2f2f2;
    }

    .show {
        display: block;
    }
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

section {
    margin: 50px 0;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}
